/*
Titles:
font-family: 'Libre Baskerville', serif;
font-family: 'EB Garamond', serif;
font-family: 'Playfair Display', serif;
font-family: 'Sorts Mill Goudy', serif;
font-family: 'Lora', serif;
font-family: 'Crimson Text', serif;
font-family: 'Cardo', serif;
font-family: 'Radley', serif;
font-family: 'Prata', serif;
font-family: 'Bentham', serif;
font-family: 'PT Serif', serif;
font-family: 'Ovo', serif;

Body:
font-family: 'PT Sans', sans-serif;
font-family: 'Cabin Condensed', sans-serif;
font-family: 'Istok Web', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Nobile', sans-serif;
font-family: 'Actor', sans-serif;
font-family: 'Muli', sans-serif;


*/

html {
    /*background: url("../../main_site/img/wood-background-1.jpg") no-repeat center center fixed;*/
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    /*height: 100%;*/
    /*overflow: hidden;*/
}

body {
    /*font-family: 'Muli', sans-serif;*/
    font-family: 'Helvetica Neue', 'Lato', Helvetica, Arial, sans-serif;
    background: none;
    height:100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
h1, h2, h3, h4, h5, h6, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small  {
    font-weight: 300;
}
h1 .help {
    font-weight: 300;
    color: #999;
    font-size: 0.5em;
}
p {
    font-size: 16px;
}
ul, ol {
    margin-left: 2em;
    line-height: 1em;
}
code {
    background: #F9F9F9;
    padding: 2px;
    color: #454545;
    font-size: 0.8em;
}

#nav {
    font-family: 'Muli', sans-serif;
    height: 36px;
    min-height: 36px;
    width: 100%;
    background-color: #FFF;
    vertical-align: top;
    border-radius: 0;
    border: 0;
    z-index: 10000;
    margin-bottom: 0;
}
#nav a {
    display: inline-block;
    color: #AAA;
    background-color: #FFF;
    /*width: 100px;*/
    padding: 11px 25px 9px 25px;
    height: 34px;
    text-decoration: none;
    /*border: 1px solid red;*/
}
#nav a:hover {
    color: #EEE;
}
#nav ul {
    margin: 0;
    padding: 0;
    background-color: #FFF;
}
#nav ul.dropdown-menu {
    background-color: #FFF;
    padding-bottom: 8px;
}
#nav a.logo {
    background-color: transparent;
    padding: 3px 25px;
    height: 36px;
    display: block;
    float: left;
    overflow: visible;
}
#nav a.logo img {
    /*margin-top: -2px;*/
    vertical-align: bottom;
}
#nav .account_links {
    float: right;
}
.blog_header, .blog_footer {
    z-index: 10000;
}
#main {
    top: 0;
    position: relative;
    margin-bottom: 60px;
}
.page_content {
    width: 80%;
    margin: 0 auto;
    max-width: 1024px;
    min-height: 600px;
}

.button, .button:hover, a.button, a.button:hover, button, button:hover, button.button, button.button:hover, .primaryAction, .primaryAction:hover, .ph_form.home_buttons .form_input input.primaryAction {
    border-width: 1px;
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 20px;
    outline: none;
    outline-style: none;
    outline-width: 0;
}
#nav .mobile_toggle, #nav .mobile_toggle:hover {
    border-radius: 0;
    border: 0px;
    background-color: transparent;
    padding: 4px 0 0 0;
}
#nav .navbar-collapse {
    padding: 0;
    border: 0;
    z-index: 100;
}


.home_buttons {
    text-align: center;
    margin: 0 0 60px 0;
}
.home_buttons a, .primaryAction, .ph_form .form_input input.primaryAction {
    margin: 0 20px;
    /*background-color: #ff580e;*/
    /*background-color: #4369ff;*/
    background-color: #4f66ff;
    color: #d1daff;
    border: 0;
    width: auto;
    margin: 0;
}
.home_buttons a:hover, .home_buttons a.current, .primaryAction:hover, .ph_form.home_buttons .form_input input.primaryAction:hover {
    background-color: #3a53ff;
    color: #FFF;
    border: 0;
}
.home_buttons input {
    float: left;
}
.ph_form.home_buttons .form_input input {
    width: auto;
    margin: 5px 20px 0 0;
}
.ph_form.home_buttons .form_input input.primaryAction {
    /* I'm going to regret this in the morning.  Damn you, Sang-som! */
    font-size: 16px;
}

.home_buttons a, .primaryAction {
    font-size: 16px;
}
.btn-primary {
    background-color: #4f66ff;
    border: #4f66ff;
}
.btn-primary:hover {
    background-color: #3a53ff;
    border: #3a53ff;
}
.home h1 {
    text-align: center;
    margin: 120px 0 80px 0;
}
.hero_section {

}
.hero_section.write {
    margin-top: 160px;
}
.hero_text {
    display: block;
    /*color: #AAA;*/
    font-size: 80px;
    line-height: 120px;
    font-weight: 100;
    margin-top: 80px;
}
.screenshot {
    display: block;
    border: 1px solid #CCC;
}
.screenshot img {
    width: 200px;
    height: 200px;
}
h1 {
    margin: 40px 0 30px 0;
}
.home .detail_section {
    width: 640px;
    margin: 0 auto;
    display: none;
}
.home .detail_section .home_buttons {
    margin-top: 40px;
}

.footer {
    font-weight: 300;
    color: #888;
    text-align: center;
}
.footer a {
    color: #888;
    display: inline-block;
    margin: 0 10px;
}
.footer.reader {
    display: block;
    color: #AAA;
    margin-top: 140px;
}
.footer.reader a {
    color: #AAA;
    margin: auto;
}
.bubble {
    background-color: #DDD;
    display: inline-block;
    border-radius: 4px;
    color: #FFF;
    font-size: 10px;
    text-transform: uppercase;
    padding: 2px 6px;
    font-weight: 300;
}
.manifesto.page_content {
    max-width: 880px;
}
.post_content_area {
    display: block;
    padding: 20px 0 160px 0;
    background: #AAA;
}

.ph_form {
    display: block;
    padding-top: 20px;
}

.ph_form .question .text {
    font-size: 30px;
    font-weight: 300;
    line-height: 1em;
    margin-bottom: 4px;

}
.ph_form .question .help {
    font-size: 16px;
    font-weight: 300;
    color: #999;

}

.ph_form .form_input input,  .ph_form .form_input textarea {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: 0;
    font-weight: 300;
    font-size: 24px;
    width: 80%;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #DDD;
    color: #555;
}
.ph_form .form_input input[type=checkbox] {
    width: auto;
}
.ph_form label {
    font-weight: 300;
}
.ph_form .form_input.valid input,  .ph_form .form_input.valid textarea {
    border-color: #5C7;
}
::-webkit-input-placeholder {
   font-weight: 100;
   padding-top: 4px;
   font-size: 20px;
   color: #999;
}
:-moz-placeholder { /* Firefox 18- */
   font-weight: 100;
   padding-top: 4px;
   font-size: 20px;
   color: #999;
}
::-moz-placeholder {  /* Firefox 19+ */
   font-weight: 100;
   padding-top: 4px;
   font-size: 20px;
   color: #999;
}
:-ms-input-placeholder {  
   font-weight: 100;
   padding-top: 4px;
   font-size: 20px;
   color: #999;
}
.ph_form .instead_text {
    display: inline-block;
    margin-left: 10px;
}
.ph_form .errors ul {
    padding: 0;
    margin: 0 0 0 2px;
    list-style-type: none;
    color: #900;
    font-weight: 500;
}
.ph_form .helper {
    color: #AAA;
    margin: 2px 4px;
}
.list_thumb {
    display: inline-block;
    vertical-align: middle;
}

.explore {

}
.explore .author {
    color: #CCC;
}

.backups {
    margin: 20px 0;
}
.published_btn {
    margin: 0 0 20px 0;
}
#mc_embed_signup {
    overflow: auto;
    margin-bottom: 80px;
}
#mc_embed_signup div.mce_inline_error {
    clear: both;
    /*margin-top: 40px;*/
    background: transparent !important;
    color: #BBB !important;
    text-align: left;
    font-weight: normal !important;
}
#mc_embed_signup input.mce_inline_error {
    border-color: #BBB !important;
}
#mc_embed_signup div.form_input {
    overflow: auto;
}
#mc_embed_signup .form_errors {
    display: block;
    clear: both;
}
#mc_embed_signup .response {
    text-align: left;
    padding: 5px 0;
    color: #BBB;
}
.good_to_go {
    text-align: center;

}
.good_to_go h1 {
    margin-bottom: 20px;
}
.good_to_go h2 {
    margin-bottom: 60px;
}
code.hljs {
    background: transparent;
}
@media (max-width: 1024px) {
    #nav a {
        padding: 11px 15px 9px 15px;
    }
    .page_content {
        width: 95%;
    }
    .hero_text {
        font-size: 64px;
        font-weight: 100;
        line-height: 64px;
        margin-top: 60px;
    }
    .hero_section.write {
        margin-top: 80px;
    }
}
@media (max-width: 640px) {
    .hero_text {
        font-size: 48px;
        font-weight: 100;
        line-height: 48px;
    }
    .hero_section.write {
        margin-top: 64px;
    }
}


/* Header from Ink & Feet */
h1, h2, h3 {
    line-height: 1em;
    margin-bottom: -10px;
}
a {
  color: #FF7019;
}
h3 {
    color: #5290B6;
    /* color: #E25F0F; */
}
.ink_and_feet_header {
   width: 100%;
}
.ink_and_feet_header, .ink_and_feet_signup {
    color: #454545;
    
    font-family: "Sorts Mill Goudy", serif;
}
.ink_and_feet_nav {
    top: 0;
    color: #454545;
    background: #FFF;
    background: rgba(255,255,255,1);
    position: relative;
    height: 36px;
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    /*position: absolute;*/
    /*margin-bottom: 40px;*/
    /*top: 0;*/
    height: 64px;
    font-weight: 300;
    vertical-align: bottom;
    width: 100%;
    z-index: 1000;
    transition: background 0.5s;
}
.ink_and_feet_nav:hover {

}
.ink_and_feet_nav.not_top {
    background: rgba(255,255,255,0.0);
}
.ink_and_feet_nav a {
   color: #454545; 
   text-decoration: none;
   opacity: 1;
   transition: opacity 0.5s;
}
.ink_and_feet_nav.not_top a {
    opacity: 0;
}
.ink_and_feet_nav .logo .logo_text {
    opacity: 1;
    transition: opacity 0.5s;
}
.ink_and_feet_nav.not_top .logo .logo_text {
    opacity: 0;
}
.ink_and_feet_nav .link_container {
    text-align: right;
    padding: 10px;
}
.ink_and_feet_nav .show_side_nav {
    padding: 10px;
}

.ink_and_feet_nav .logo, .ink_and_feet_nav.not_top .logo {
    float: left;
    margin-left: 20px;
    padding-left: 36px;
    /*height: 36px;*/
    padding-top: 16px;
    margin-top: 5px;
    height: 50px;
    text-decoration: none;
    background: transparent url("https://inkandfeet-footprints.s3.amazonaws.com/post_images/logo-36.png") no-repeat left 8px;
    opacity: 1;
}
.ink_and_feet_nav .links {
    padding-top: 21px;
    text-align: right;
    text-transform: lowercase;
    padding-right: 1%;
    width: auto;
}
.ink_and_feet_nav .links a, .ink_and_feet_nav .links a:hover, .ink_and_feet_nav .links a:active {
    margin: 0 2%;
    text-decoration: none;
}
.ink_and_feet_nav .links a.current {
    text-decoration: underline;
}
hr {
    display: block;
    color: transparent;
    background-color: transparent;
    border: 1px solid #DDD;
    border-width: 0 0 1px 0;
    width: 100%;
    margin: 40px 0 0 0;
}
@media (max-width: 760px) {
    .ink_and_feet_nav .logo .logo_text {
        display: none;
    }
    .ink_and_feet_nav {
        height: 60px;
    }
    .ink_and_feet_nav .logo {
        margin-left: 0;
        padding-left: 36px;
    }
    
    .ink_and_feet_nav .links a {
        font-size: 18px;
    }
}
@media (max-width: 600px) {
    .ink_and_feet_nav .logo .logo_text {
        display: none;
    }
    .ink_and_feet_nav {
        height: 60px;
    }
    .ink_and_feet_nav .logo {
        margin-left: 0;
        padding-left: 36px;
    }
    .ink_and_feet_nav .links {
        padding-top: 12px;
    }
    .ink_and_feet_nav .links a {
        font-size: 16px;
        margin: 0 4px;
    }
}