<div class="post post_{{post.pk}} {% if post.is_draft %}draft{% endif %} {% if post.narrow %}narrow{% endif %} type_{{ post.post_type }} {% if not on_blog %}single_post{% endif %}">
    {% if post.dayone_image %}{% if on_blog %}<a href="{% url 'posts:post' post.slug %}">{% endif %}
    <div class="{% if on_blog %}post_image full_bleed{% else %}parallax_image{% endif %}"><img src="{{post.dayone_image_blog_size_url}}"/></div>{% if on_blog %}</a>{% endif %}{% endif %}
    <div class="draft_badge"></div>
    <div class="text_and_title">
        
        <h1 class="title"><a href="{% url 'posts:post' post.slug %}"><div class="editable" id="post_title">{{post.title|safe}}</div></a></h1>
        <div class="byline"><i>by Steven Skoczen</i> &mdash; about a {{post.num_read_minutes}} minute read.</div>
        <div class="body"><div class="editable" id="post_body">{{post.body_html|safe}}</div></div>

        {# <div class="display author">by <a href="{% url "posts:blog" post.author.slug %}">{{post.author.name}}</a></div> #}
        {# <div class="print author">by {{post.author.name}}</div> #}
        {# <div class="kudos"> #}
            {# <form class="fantastic_form" action="{% url "posts:this_was_fantastic" post.pk %}" method="POST"> #}
            {# {% csrf_token %} #}
            {# {{fantastic_form.as_p}} #}
            {# <div class="fantastic_button button {% if fantastic %}clicked{% endif %}"> #}
                {# <span class="unclicked_star"><icon class="fa fa-heart-o"></icon></span> #}
                {# <span class="clicked_star"><icon class="fa fa-heart"></icon></span> #}
                {# <span class="fantastic_text">I love this.</span> #}
            {# </div> #}
            {# <span class="num_agree"><span class="number">{{post.num_fantastics}}</span> people agree!</span>  #}
            {# </form> #}
        {# </div> #}
        <div class="share">
            {# <a class="share_link heart" href="#"> #}
                {# <i class="fa fa-heart"></i> Love #}
            {# </a> #}
            <a class="share_link facebook" href="http://www.facebook.com/sharer/sharer.php?u={{post.full_permalink|iriencode}}">
                <i class="fa fa-facebook"></i> Share
            </a><a class="share_link twitter" href="https://twitter.com/share?original_referer={{post.full_permalink|iriencode}}&url={{post.full_permalink|iriencode}}&via=skoczen">
                <i class="fa fa-twitter"></i> Tweet
            </a><a class="share_link google" href="https://plus.google.com/share?url={{post.full_permalink|iriencode}}">
                <i class="fa fa-google"></i> Post
            </a>

            <!-- <div class="support">{{post.pitch|safe}}</div> -->
        </div>
        <form class="read_form" action="{% url "posts:mark_read" post.pk %}" method="POST">
            {% csrf_token %}
            {{read_form.as_p}}
        </form>
    </div>
</div>
