{% extends "base.html" %}{% load compress thumbnail %}

{% block title %}{{author.name}}'{% if not author.name_ends_in_s %}s{% endif %} Posts{% endblock %}

{% block description %}Posts written by {{author.name}}. Published on Footprints.{% endblock %}
{% block author %}http://{{author.blog_domain}}{% endblock %}
{% block schema_name %}{{author.name}}'{% if not author.name_ends_in_s %}s{% endif %} Posts{% endblock %}
{% block schema_description %}Posts written by {{author.name}}. Published on Footprints.{% endblock %}
{% block schema_author %}{{author.name}}{% endblock %}
{% block og_title %}{{author.name}}'{% if not author.name_ends_in_s %}s{% endif %} Posts{% endblock %}
{% block og_url %}http://{{author.blog_domain}}{% endblock %}
{% block og_description %}Posts written by {{author.name}}. Published on Footprints.{% endblock %}
{% block og_publish_time %}{{author.created_at|date:"c"}}{% endblock %}
{% block og_update_time %}{{author.most_recent_update|date:"c"}}{% endblock %}


{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}posts/css/author.css">
{% endcompress %}
{% endblock %}


{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}main_site/js/site.js"></script>
{% endcompress %}
{% endblock %}


{% block content %}
<div class="page_content author">
    {% if is_me %}<a href="{% url "posts:new" %}" class="new_draft_button button">Start a new draft</a>{% endif %}
    <h1>{{author.blog_name}}</h1>
    
    <h2>All Posts</h2>
    <div class="work_group">
        {% for post in posts %}
            {% ifchanged post.written_on.year %}
            <h3>{% if post.written_on %}{{post.written_on.year}}{% else %}Unknown year {% endif %}</h3>
            {% endifchanged %}
            {% ifchanged post.written_on.month %}
            <h4>{% if post.written_on %}{{post.written_on|date:"F"}}{% else %}Unknown month {% endif %}</h4>  
            {% endifchanged %}
            {% ifchanged post.written_on.day %}
            <h5>{{post.written_on|date:"F"}} {% if post.written_on %}{{post.written_on.day}}{% else %}Unknown day {% endif %}</h5>
            {% endifchanged %}
            

        <div class="post row {% if not post.is_draft %}published{% endif %}">
            <a href="{% url "posts:post" post.slug %}" class="col-xs-8 thumb_col post_body">
                {% if post.dayone_image %}
                <img src="{{post.dayone_image_thumb_size_url}}" class="list_thumb" />
                {% else %}
                <span class="image_placeholder"></span>
                {% endif %}
                <div class="title">
                    {{post.title|default:"No title"|safe}}
                    <div class="body">
                        {{post.body|truncatewords_html:50|safe}}
                    </div>
                </div>
                <!-- <span class="time">{{post.written_on|time}}</span> -->
            </a>
            <a href="{% url 'posts:social_share' post.pk %}" class="col-xs-1 email_col stats_col {% if post.email_published %}published{% else %}unpublished{% endif %}">
                {% if not post.is_draft %}
                    <i class="fa fa-envelope-o bg_icon"></i>
                {% endif %}
            </a>
            <a href="{% url 'posts:social_share' post.pk %}" class="col-xs-1 facebook_col stats_col {% if post.facebook_published %}published{% else %}unpublished{% endif %}">
                    {% if not post.is_draft %}
                    <i class="fa fa-facebook bg_icon"></i>
                    <div class="number">{% if post.num_facebook_activity > 0 %}{{post.num_facebook_activity}}{% endif %}</div>
                    {% endif %}
            </a>
            <a href="{% url 'posts:social_share' post.pk %}" class="col-xs-1 twitter_col stats_col {% if post.twitter_published %}published{% else %}unpublished{% endif %}">
                {% if not post.is_draft %}
                    <i class="fa fa-twitter bg_icon"></i>
                    <div class="number">{% if post.num_twitter_activity > 0 %}{{post.num_twitter_activity}}{% endif %}</div>
                {% endif %}
            </a>
            <a href="{% url 'posts:social_share' post.pk %}" class="col-xs-1 love_col stats_col {% if not post.is_draft %}published{% else %}unpublished{% endif %}">
                    {% if not post.is_draft %}
                        <i class="fa fa-heart bg_icon"></i>
                        <div class="number">{% if post.num_fantastics > 0 %}{{post.num_fantastics}}{% endif %}</div>
                    {% endif %}
            </a>
        </div>
        {% empty %}
        <div class="no_posts">No posts yet.  Sync with <a href="{% url 'posts:my_account' %}">DayOne</a>, or <a href="{% url "posts:new" %}">start a new post</a>!</div>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}