{% extends "base.html" %}{% load compress %}

{% block title %}A blog by {{author.name}}{% endblock %}
{% block description %}'A blog', a post by {{author.name}}.  Published on Footprints.{% endblock %}
{% block author %}{% url "posts:blog" author.slug %}{% endblock %}
{% block schema_name %}A blog by {{author.name}}{% endblock %}
{% block schema_description %}'A blog', a post by {{author.name}}.  Published on Footprints.{% endblock %}
{% block schema_author %}{{author.name}}{% endblock %}
{% block og_title %}A blog by {{author.name}}{% endblock %}
{% block og_url %}{% url "posts:blog" author.slug %}{% endblock %}
{% block og_description %}'A blog', a post by {{author.name}}.  Published on Footprints.{% endblock %}
{% block og_publish_time %}{{post.published_at|date:"c"}}{% endblock %}
{% block og_update_time %}{{post.sort_datetime|date:"c"}}{% endblock %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}posts/css/posts.css">
{% endcompress %}
{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}base/js/ajaxForm.js"></script>
{# <script src="{{STATIC_URL}}posts/js/nicEdit.js"></script> #}
<script type="text/javascript">
    window.Footprints = window.Footprints || {};
    Footprints.urls = Footprints.urls || {};
    Footprints.state = Footprints.state || {};
</script>
<script src="{{STATIC_URL}}posts/js/post.js"></script>
{% endcompress %}
{% endblock %}

{% block logo_url %}{{STATIC_URL}}main_site/img/logo-name-90-066.png{% endblock %}

{% block main_content %}
{% for post in posts %}

<div class="post {% if post.is_draft %}draft{% endif %} {% if post.narrow %}narrow{% endif %}">
    <div id="edit_pane_area"><div id="edit_pane"></div></div>
    <div class="draft_badge"></div>
    <h1 class="title"><div class="editable" id="post_title">{{post.title|safe}}</div></h1>

    <div class="body"><div class="editable" id="post_body">{{post.body_html|safe}}</div></div>
    {# <div class="display author">by <a href="{% url "posts:blog" post.author.slug %}">{{post.author.name}}</a></div> #}
    {# <div class="print author">by {{post.author.name}}</div> #}
    {% if not post.is_draft and not is_mine %}
    <div class="kudos">
    <form class="fantastic_form" action="{% url "posts:this_was_fantastic" post.pk %}" method="POST">
        {% csrf_token %}
        {{fantastic_form.as_p}}
        <button type="submit" href="#" class="fantastic_button button {% if fantastic.on %}clicked{% endif %}"><span class="num_agree"></span><span class="unclicked_star">☆</span><span class="clicked_star">★</span> This was fantastic.</button>
    </form>
    </div>
    <form class="read_form" action="{% url "posts:mark_read" post.pk %}" method="POST">
        {% csrf_token %}
        {{read_form.as_p}}
    </form>
</div>

{% endif %}


{% endfor %}

{% endblock %}