{% extends "posts/base.html" %}{% load compress %}

{% block title %}{{author.blog_name}}{% endblock %}
{% block description %}A blog by {{author.name}}. Published on Footprints.{% endblock %}
{% block author %}{{post.author.full_blog_domain}}{% endblock %}
{% block schema_name %}{{author.blog_name}}{% endblock %}
{% block schema_description %}A blog by {{author.name}}. Published on Footprints.{% endblock %}
{% block schema_author %}{{author.name}}{% endblock %}
{% block og_title %}{{author.blog_name}}{% endblock %}
{% block og_url %}{{author.full_blog_domain}}{% endblock %}
{% block og_description %}A blog by {{author.name}}. Published on Footprints.{% endblock %}
{% block og_publish_time %}{{post.published_at|date:"c"}}{% endblock %}
{% block og_update_time %}{{post.sort_datetime|date:"c"}}{% endblock %}

{% block js %}{{block.super}}
<script type="text/javascript">
    window.Footprints = window.Footprints || {};
    Footprints.urls = Footprints.urls || {};
    Footprints.state = Footprints.state || {};
    Footprints.urls.load_next_posts = "{% url 'posts:next_posts' author.slug %}";
    {% if last_timestamp %}Footprints.state.last_timestamp = {{last_timestamp}};{% endif %}
</script>
{% compress js %}
<script src="{{STATIC_URL}}base/js/ajaxForm.js"></script>
<script src="{{STATIC_URL}}posts/js/blog.js"></script>
{% endcompress %}
{% endblock %}

{% block main_content %}
<div class="post_content_area">
    <div class="posts">
        {% include "posts/_posts.html" %}
    </div>
    <div class="the_start">
        &mdash; the start &mdash;
    </div>
</div>
{% endblock %}