{% extends "base.html" %}{% load compress %}

{% block title %}A blog by {{author.name}}{% endblock %}
{% block description %}'A blog', a post by {{author.name}}.  Published on Footprints.{% endblock %}
{% block author %}{% url "posts:blog" author.slug %}{% endblock %}
{% block schema_name %}A blog by {{author.name}}{% endblock %}
{% block schema_description %}'A blog', a post by {{author.name}}.  Published on Footprints.{% endblock %}
{% block schema_author %}{{author.name}}{% endblock %}
{% block og_title %}A blog by {{author.name}}{% endblock %}
{% block og_url %}{% url "posts:blog" author.slug %}{% endblock %}
{% block og_description %}'A blog', a post by {{author.name}}.  Published on Footprints.{% endblock %}
{% block og_publish_time %}{{post.published_at|date:"c"}}{% endblock %}
{% block og_update_time %}{{post.sort_datetime|date:"c"}}{% endblock %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}posts/css/posts.css">
{% endcompress %}
{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}base/js/ajaxForm.js"></script>
{# <script src="{{STATIC_URL}}posts/js/nicEdit.js"></script> #}
<script type="text/javascript">
    window.Footprints = window.Footprints || {};
    Footprints.urls = Footprints.urls || {};
    Footprints.state = Footprints.state || {};
    Footprints.urls.load_next_posts = "{% url 'posts:next_posts' author.slug %}";
    Footprints.state.last_timestamp = {{last_timestamp}};
</script>
<script src="{{STATIC_URL}}posts/js/blog.js"></script>
{% endcompress %}
{% endblock %}

{% block logo_url %}{{STATIC_URL}}main_site/img/logo-name-90-066.png{% endblock %}

{% block main_content %}
<div class="posts">
    {% include "posts/_posts.html" %}
</div>
<div class="the_start">
    &mdash; the start &mdash;
</div>
{% endblock %}