{% extends "base.html" %}{% load compress thumbnail %}

{% block title %}{{post.title}}{% endblock %}
{% block description %}'{{post.title}}', a post by {{post.author.name}}.  Published on Footprints.{% endblock %}
{% block author %}{{post.author.name}}{% endblock %}
{% block schema_name %}{{post.title}}{% endblock %}
{% block schema_description %}'{{post.title}}', a post by {{post.author.name}}.  Published on Footprints.{% endblock %}
{% block schema_author %}{{post.author.name}}{% endblock %}
{% block og_title %}{{post.title}}{% endblock %}
{% if post.dayone_image %}
{% block og_image %}{{post.dayone_image_blog_size_url}}{% endblock %}
{% endif %}

{% block og_url %}{% url "posts:post" post.slug %}{% endblock %}
{% block og_description %}'{{post.title}}', a post by {{post.author.name}}.  Published on Footprints.{% endblock %}
{% block og_publish_time %}{{post.published_at|date:"c"}}{% endblock %}
{% block og_update_time %}{{post.sort_datetime|date:"c"}}{% endblock %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}posts/css/posts.css">
<link rel="stylesheet" href="{{STATIC_URL}}posts/lib/css/editor.css">
<link rel="stylesheet" href="{{STATIC_URL}}posts/lib/dropzone/css/dropzone.css">
{% endcompress %}
{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}base/js/ajaxForm.js"></script>
<!-- <script src="{{STATIC_URL}}posts/js/nicEdit.js"></script> -->
<script src="{{STATIC_URL}}posts/lib/js/editor.js"></script>
<script src="{{STATIC_URL}}posts/lib/js/marked.js"></script>
<script src="{{STATIC_URL}}posts/lib/dropzone/dropzone.js"></script>

<script type="text/javascript">
    window.Footprints = window.Footprints || {};
    Footprints.urls = Footprints.urls || {};
    Footprints.urls.upload_image = "{% url 'posts:image_upload' post.pk %}";
    Footprints.state = Footprints.state || {};
</script>
<script src="{{STATIC_URL}}posts/js/edit.js"></script>
{% endcompress %}
{% endblock %}

{% block logo_url %}{{STATIC_URL}}main_site/img/logo-name-90-066.png{% endblock %}

{% block main_content %}
<form action="{% url "posts:save_revision" author=post.author.slug title=post.slug %}" class="post_form" method="POST" enctype="multipart/form-data" >

{% if is_mine %}
<div class="edit_bar">
    <a href="{% url "posts:revisions" post.author.slug post.slug %}" class="button revisions_button" target="_blank"><i class="icon-revisions" ></i> Revisions</a>
    {% if post.is_draft %}
    <button type="submit" href="#" class="button currently_editing_button save_revision_button"><i class="icon-edit" ></i> Save Draft</button>
    <a href="#" class="button currently_editing_button publish_button"><i class="icon-edit" ></i> Publish</a>
    {% else %}
    <a href="{% url 'posts:social_share' post.pk %}" class="button social_share_button"><i class="icon-twitter" ></i> Social Share</a>
    <button type="submit" href="#" class="button currently_editing_button save_revision_button"><i class="icon-edit" ></i> Publish New Version</button>
    {% endif %}
    <button type="revert" href="#" class="button currently_editing_button cancel_editing_button"><i class="icon-edit" ></i> Cancel</button>
    <a href="#" class="button start_editing_button edit_button"><i class="icon-edit" ></i> Edit</a>
</div>
{% endif %}


<div class="post {% if post.is_draft %}draft{% endif %} {% if post.narrow %}narrow{% endif %}">
    {% if post.dayone_image %}<a href="{{MEDIA_URL}}{{post.dayone_image}}" target="_blank"><div class="post_image full_bleed"><img src="{{post.dayone_image_blog_size_url}}" class="list_thumb" /></a></div>{% endif %}
    <div id="edit_pane_area"><div id="edit_pane"></div></div>
    <div class="draft_badge"></div>
    <div class="text_and_title">
        <textarea class="edit_holder" id="edit_title">{{post.title}}</textarea>
        <textarea class="edit_holder" id="edit_body">{{post.body}}</textarea>
    </div>
</div>

{% if is_mine %}
<div class="options_toggle">
    <a href="#" class="options_button">⚙</a>
</div>
<div class="post_meta">
    <table>
    {{form.as_table}}
    </table>
    {% csrf_token %}
    <h3>Other images:</h3>
    <div class="all_images">
    {% for i in post.all_images %}
        <div>{% thumbnail i.image "100x100" crop="center" as thumb %}
            <img src="{{thumb.url}}" class="list_thumb" />
            {% endthumbnail %}
            <code>{{i.full_permalink}}</code>
        </div>
    {% endfor %}
    </div>
    <div class="dropzone more_images" id="postImages"></div>
</div>
{% endif %}
</form>
{% endblock %}

{% block blog_footer %}{% endblock %}