{% extends "base.html" %}{% load compress i18n %}

{% block title %}Footprints: My Account{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}main_site/js/site.js"></script>
<script src="{{STATIC_URL}}main_site/js/password.js"></script>
<script src="{{STATIC_URL}}posts/js/my_account.js"></script>
{% endcompress %}
<script type="text/javascript">
window.Footprints = window.Footprints || {};
Footprints.urls = Footprints.urls || {};
Footprints.urls.find_dayone_folder = "{% url 'posts:find_dayone_folder' %}";
Footprints.urls.sync_dayone = "{% url 'posts:sync_dayone' %}";
Footprints.urls.sync_dayone_status = "{% url 'posts:sync_dayone_status' %}";
Footprints.status = {};
Footprints.status.in_sync = {{request.user.get_profile.dayone_in_sync|lower}};
Footprints.status.ever_synced = {% if not request.user.get_profile.last_dropbox_sync %}false{% else %}true{% endif %};
Footprints.actions = {};
</script>
{% endblock %}


{% block content %}
<div class="page_content">
    <h1>My Account</h1>
    {% if changes_saved %}<div class="alert alert-success">Changes saved.</div>{% endif %}

    <form class="signup ph_form" role="form" id="signup_form" method="post" action="{% url 'posts:my_account' %}" autocomplete="off">
      {% csrf_token %}
      <div class="row question form-group">
        <div class="col-md-5">
            <div class="text">Publication name</div>
            <div class="help">This will not change web addresses of your posts from footprints.com/{{author.slug}}/. If you want those to change, use the help link to contact us!</div>
        </div>
        
        <div class="col-md-7 answers">
            <div class="form-group form_input {# valid #}">
                {{ form.first_name }}
                <div class="errors">{{form.first_name.errors}}</div>
            </div>
        </div>
      </div>
      <div class="row question form-group">
        <div class="col-md-5">
            <div class="text">Email address</div>
            <div class="help">You'll use the new address to sign in.</div>
        </div>
        
        <div class="col-md-7 answers">
            <div class="form-group form_input">
                {{ form.email }}
                <div class="errors">{{form.email.errors}}</div>
            </div>
            
        </div>
      </div>
      <div class="row question form-group">
        <div class="col-md-5">
            <div class="text">Change password</div>
            <div class="help">Leave this blank to keep your current password.</div>
        </div>
        
        <div class="col-md-7 answers">
            <div class="form-group form_input password">
                {{ form.password }}
                <div class="helper"><label for="show_password"><input type="checkbox" id="show_password"> Show Password</div>
                <div class="errors">{{form.password.errors}}</div>
            </div>
        </div>
        
      </div>
      <div class="row question form-group">
        <div class="col-md-5">
            <div class="text">DayOne Connect</div>
            <div class="help">Automatically import and sync DayOne entries.</div>
        </div>
        
        <div class="col-md-7 answers">
            <div class="form-group form_input password">              
                {% if request.user.get_profile.dropbox_valid %}
                <div class="connected"><i class="fa fa-dropbox"></i> Dropbox: Connected</div>
                  {% if request.user.get_profile.dayone_valid %}
                  <div class="connected"><i class="fa fa-book"></i> DayOne: Journal found at {{request.user.get_profile.dropbox_dayone_folder_path}}</div>
                  <div class="sync_status">
                    <span class="sync_icon">
                      <i class="fa fa-refresh"></i>
                    </span>
                    <span class="current_status">
                      Last Sync: <span class="timesince">{% if request.user.get_profile.last_dropbox_sync %}{{request.user.get_profile.last_dropbox_sync|timesince}} ago{% else %} Never Synced.{% endif %}</span> 
                    </span>
                    <span class="sync_actions">
                      <a href="#" class="sync_now_link">
                          <span class="action_text">Sync now</span>
                        </a>
                        <div class="sync_response_text">{{request.user.get_profile.num_dayone_posts}} posts synced from DayOne.</div>
                    </span>
                  </div>
                  {% else %}
                  <a href="#" class="button btn btn-primary find_dayone_folder">
                    <span class="icons hidden">
                      <i class="fa fa-circle-o-notch fa fa-spin"></i>
                    </span>
                     <span class="action_text">Find DayOne Folder</span></a>
                  <div class="dayone_response_text"></div>
                  {% endif %}
                {% else %}
                <a href="{% url 'posts:dropbox_auth_start' %}" class="button btn btn-primary"><i class="fa fa-dropbox"></i> Connect to Dropbox</a>
                {% endif %}
            </div>
        </div>
      </div>
      <div class="row question form-group">
        <div class="col-md-5">
            <div class="text">Facebook Publication</div>
            <div class="help">Provides the option to publish to facebook.</div>
        </div>
        
        <div class="col-md-7 answers">
            <div class="form-group form_input password">
                {% if request.user.get_profile.facebook_valid %}
                <div class="connected"><i class="fa fa-facebook"></i> Facebook: Connected</div>
                <div class="account">
                  <i class="fa fa-user"></i> Account: <a href="{{request.user.get_profile.facebook_account_link}}" target="_blank">{{request.user.get_profile.facebook_account_name}}</a>
                </div>
                {% else %}
                <a href="{% url 'posts:facebook_auth_start' %}" class="button btn btn-primary facebook_connect_btn"><i class="fa fa-facebook"></i> Connect to Facebook</a>
                {% endif %}
            </div>
        </div>
      </div>
      <div class="row question form-group">
        <div class="col-md-5">
            <div class="text">Twitter Publication</div>
            <div class="help">Provides the option to publish to twitter.</div>
        </div>
        
        <div class="col-md-7 answers">
            <div class="form-group form_input password">
              
                {% if request.user.get_profile.twitter_valid %}
                <div class="connected"><i class="fa fa-twitter"></i> Twitter: Connected</div>
                <div class="account">
                  <i class="fa fa-user"></i> Account: <a href="https://twitter.com/{{request.user.get_profile.twitter_account_name}}" target="_blank">@{{request.user.get_profile.twitter_account_name}}</a>
                </div>
                {% else %}
                <a href="{% url 'posts:twitter_auth_start' %}" class="button btn btn-primary"><i class="fa fa-twitter"></i> Connect to Twitter</a>
                {% endif %}
            </div>
        </div>
      </div>
      
      
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      
    </form>
</div>
{% endblock %}