{% extends "posts/base.html" %}{% load compress thumbnail %}

{% block title %}{{post.title}}{% endblock %}
{% block description %}{{post.description|default:""}}{% endblock %}
{% block author %}{{post.author.name}}{% endblock %}
{% block schema_name %}{{post.title}}{% endblock %}
{% block schema_description %}{{post.description|default:""}}{% endblock %}
{% block schema_author %}{{post.author.name}}{% endblock %}
{% block og_title %}{{post.title}}{% endblock %}
{% if post.dayone_image %}
{% block og_image %}{{post.dayone_image_blog_size_url}}{% endblock %}
{% endif %}

{% block og_url %}{% url "posts:post" post.slug %}{% endblock %}
{% block og_description %}{{post.description|default:""}}{% endblock %}
{% block og_publish_time %}{{post.written_on|date:"c"}}{% endblock %}
{% block og_update_time %}{{post.updated_at|date:"c"}}{% endblock %}
{% block og_site_name %}{{post.author.blog_name}}{% endblock %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}posts/css/posts.css">
{% endcompress %}
{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script type="text/javascript">
    window.Footprints = window.Footprints || {};
    Footprints.urls = Footprints.urls || {};
    Footprints.state = Footprints.state || {};
</script>
<script src="{{STATIC_URL}}base/js/ajaxForm.js"></script>
<script src="{{STATIC_URL}}posts/js/nicEdit.js"></script>
<script src="{{STATIC_URL}}posts/js/post.js"></script>
{% endcompress %}
{% endblock %}

{% block main_content %}
{% if is_mine %}
<div class="edit_bar">
    <a href="{% url "posts:revisions" post.author.slug post.slug %}" class="button revisions_button" target="_blank"><i class="icon-revisions" ></i> Revisions</a>
    {% if not post.is_draft %}<a href="{{post.full_permalink}}" class="button revisions_button"><i class="icon-revisions" ></i> Blog Link</a>{% endif %}
    <a href="{% url 'posts:social_share' post.pk %}" class="button social_share_button"><i class="icon-twitter" ></i> Social Share</a>
    <a href="{% url 'posts:edit' post.slug %}?editing=true" class="button start_editing_button edit_button"><i class="icon-edit" ></i> Edit</a>
</div>
<a href="{% url 'posts:my_blog'  %}" class="all_posts">
{% else %}
<a href="{% url 'posts:home'  %}" class="all_posts">
{% endif %}
    {# <span class="posts_icon"> #}
        {# <i class="fa fa-chevron-circle-left"></i> #}
    {# </span> #}
    {# <span class="caption">All Posts</span> #}
</a>


{% include "posts/_blog_post.html" %}

<div class="month_break">
    &mdash; You Also Might Enjoy &mdash;
</div>
<div class="related_posts row">
    {% for p in related_posts %}
    <div class="col-md-4">
    <a href="{{p.permalink}}" class="related_post {% if forloop.last %}last{% endif %} {% if p.dayone_image_related_size_url %}has_image{% endif %}">
        {% if p.dayone_image_related_size_url %}
            <img src="{{ p.dayone_image_related_size_url }}" />
        {% endif %}
        <div class="post_title">{{p.title_html|safe|removetags:"p a"}}</div>
    </a>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block blog_header %}{% if not is_mine %}{{block.super}}{% endif %}{% endblock %}
{% block blog_footer %}{% if not is_mine %}{{block.super}}{% endif %}{% endblock %}
