{% extends "posts/base.html" %}{% load compress thumbnail %}

{% block title %}{{post.title}}{% endblock %}
{% block description %}{{post.description|default:""}}{% endblock %}
{% block author %}{{post.author.name}}{% endblock %}
{% block schema_name %}{{post.title}}{% endblock %}
{% block schema_description %}{{post.description|default:""}}{% endblock %}
{% block schema_author %}{{post.author.name}}{% endblock %}
{% block og_title %}{{post.title}}{% endblock %}
{% if post.dayone_image %}
{% block og_image %}{{post.dayone_image_blog_size_url}}{% endblock %}
{% endif %}

{% block og_url %}{% url "posts:post" post.slug %}{% endblock %}
{% block og_description %}{{post.description|default:""}}{% endblock %}
{% block og_publish_time %}{{post.written_on|date:"c"}}{% endblock %}
{% block og_update_time %}{{post.updated_at|date:"c"}}{% endblock %}
{% block og_site_name %}{{post.author.blog_name}}{% endblock %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}posts/css/posts.css">
{% endcompress %}
{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script type="text/javascript">
    window.Footprints = window.Footprints || {};
    Footprints.urls = Footprints.urls || {};
    Footprints.state = Footprints.state || {};
</script>
<script src="{{STATIC_URL}}base/js/ajaxForm.js"></script>
<script src="{{STATIC_URL}}posts/js/nicEdit.js"></script>
<script src="{{STATIC_URL}}posts/js/post.js"></script>
{% endcompress %}
{% endblock %}

{% block main_content %}
{% if is_mine %}
<div class="edit_bar">
    <a href="{% url "posts:revisions" post.author.slug post.slug %}" class="button revisions_button" target="_blank"><i class="icon-revisions" ></i> Revisions</a>
    {% if not post.is_draft %}<a href="{{post.full_permalink}}" class="button revisions_button"><i class="icon-revisions" ></i> Blog Link</a>{% endif %}
    <a href="{% url 'posts:social_share' post.pk %}" class="button social_share_button"><i class="icon-twitter" ></i> Social Share</a>
    <a href="{% url 'posts:edit' post.slug %}?editing=true" class="button start_editing_button edit_button"><i class="icon-edit" ></i> Edit</a>
</div>
<a href="{% url 'posts:my_blog'  %}" class="all_posts">
{% else %}
<a href="{% url 'posts:home'  %}" class="all_posts">
{% endif %}
    {# <span class="posts_icon"> #}
        {# <i class="fa fa-chevron-circle-left"></i> #}
    {# </span> #}
    {# <span class="caption">All Posts</span> #}
</a>
<div class="post_content_area">
    {% include "posts/_blog_post.html" %}
</div>
<div class="after_post_content">
    <div class="post signup_blurb">
        <div class="face"><img src="{{STATIC_URL}}posts/img/new_face_cropped.jpg" /></div>
        <div class="spiel">Hey, I’m Steven. <br/><br/>I’m a writer, entrepreneur, and most recently, a nomad. I write about travel, world-changing projects, and what it means to be human.<br/><br/>
            I also write a <a style='white-space:nowrap' href="http://www.inkandfeet.com/letter.html">hand-crafted letter</a> every week that people love. 
            {# It's free, and you can sign up <a href="http://www.inkandfeet.com/letter.html">over here</a>. #}
            {# I send out a <a href="http://www.inkandfeet.com/letter.html">hand-crafted letter</a> every Sunday that a lot of people love.  Maybe you're be one of them. #}
            {# <br/><br/>There are a few other articles you might enjoy below. #}
            <div class="subscribe_btn_container">
                <a href="http://inkandfeet.com/letter.html" class="button btn subscribe_btn">
                    {# <i class="fa fa-envelope envelope"></i> #}
                    <i class="fa fa-heart heart"></i>
                     Subscribe
                </a>
            </div>
        </div>
    </div>

    {# <div class="month_break"> #}
        {# &mdash; You Also Might Enjoy &mdash; #}
    {# </div> #}
    {# <div class="popular_articles"> #}
        {# Popular Articles: #}
    {# </div> #}


    <div class="related_posts">
        <div class="related_post_title">3 Related Posts You Might Like:</div>
        {% for p in related_posts %}
        <div class="post">
            <a href="{{p.permalink}}" class="related_post {% if forloop.last %}last{% endif %} {% if p.dayone_image_related_size_url %}has_image{% endif %}">
                {% if p.dayone_image_related_size_url %}
                    <img src="{{ p.dayone_image_related_size_url }}" class="thumb" />
                {% endif %}
                <div class="post_text">
                    <div class="post_title">{{p.title_html|default:"Untitled"|safe|removetags:"p a"}}</div>
                    <div class="post_description">{{p.description|default:""|safe|linebreaksbr|removetags:"p a"}}</div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block blog_header %}{% if not is_mine %}{{block.super}}{% endif %}{% endblock %}
{% block blog_footer %}{% if not is_mine %}{{block.super}}{% endif %}{% endblock %}
