{% extends "posts/base.html" %}{% load compress thumbnail %}

{% block author %}{% endblock %}
{% block title %}Revision: {{post.title}} by {{post.author.name}} on {{post.revised_at|date}}{% endblock %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}posts/css/posts.css">
{% endcompress %}
{% endblock %}

{% block main_content %}

<div class="edit_bar">
    <a class="button revisions_button"  href="{% url "posts:revert_revision" post.pk %}" >Revert to this Version</a>
</div>
{% include "posts/_blog_post.html" %}

{% endblock %}