{% extends "base.html" %}{% load compress %}

{% block title %}Footprints: FAQ{% endblock %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/fonts.css">
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/site.css">
{% endcompress %}
{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}main_site/js/site.js"></script>
{% endcompress %}
{% endblock %}


{% block content %}
<div class="page_content">
    <h1>Frequently Asked Questions</h1>

    <h2>So why should I trust you guys?</h2>

    <p>Hey, I'm Steven.  I'm the guy who wrote Footprints. You should trust me mostly because I'm a writer and a reader too.  I built Footprints because I was frustrated with the way my work was shown to my readers, and the compromises companies were making with my voice, my brand in the name of making a few bucks.  I also built it because I was tired of seeing other great writer's work shoehorned into unwilling platforms.</p>

    <p>All that to say, you should trust me because whether you're a reader or a writer, I'm a lot like you.</p>

    <h2>But aren't there like a bazillion blogging platforms out there?  Why shouldn't I just use wordpress or Tumblr or Beacon?</h2>

    <p>Honestly, maybe you should. I think Footprints is a really good fit for people who: 
        <ul>
            <li>want a simple, beautiful presentation of their writing, focused on the words,</li>
            <li>want to share their work on Facebook and Twitter, and have it drive traffic to their site,</li>
            <li>already have a writing system set up, and want something that <i>just works</i>.  Especially if that system is DayOne.</li>
            <li>want a simple way to have their readers be emailed the latest posts, if they prefer email.</li>
            <li>don't want to worry about any of it.</li>
        </ul>
    </p>

    <p>Footprints isn't the only platform out there. Medium is fantastic.  Beacon, if you have a project, might be the best place for writing on the internet right now (I'm a proud supporter.)  Wordpress really can do anything.  Tumblr is simple and good.</p>

    <p>I write in DayOne, and want to publish my work to my readers, with compelling content sent automatically to Twitter and Facebook.  That was my itch, and I wrote Footprints to scratch it.  It's made my life much, much easier.</p>

    <h2>But doesn't DayOne have a publish feature that does this already?</h2>
    <p>Yes, but it has a couple big problems for me:

    <ul>
        <li>There is no central "blog-like" place I can drive traffic to, so people can see all my writing, or sign up for emails.</li>
        <li>For some bizzare reason, DayOne thinks it's totally ok to splatter their company name all over my content. They even add text <i>to</i> the content on Tumblr and Facebook mentioning their name.  I've reached out to them, and only gotten the standard "we'll pass that feedback along to our product team."  I mean, they're otherwise obsessive about being good to their users.  It's baffling.</li>
        <li>They mess with formatting.  I'm a persnickety writer.  The author kind.  I obsess about things like linebreaks, and I'm very not ok with them being pulled.  DayOne messes with them on publication.  Not cool.</li>
    </ul>
    

    Let me also be clear: I <i>love</i> DayOne.  There's no place I'd rather write.  I just want my content in my hands, promoting my brand.  It's an expensive paid product. They don't need to piggyback on my work to survive.


    <h2>Ok, but you're a writer, right?  Is this site going to crash and be buggy?</h2>

    <p>Nah, it's good. From a tech perspective, you should trust Footprints because building stupendous web applications is what I do for a living, and I've got great friends and colleagues (and maybe someday even staff) to help out.</p>

    <h2>Wait.  I thought you were a writer.</h2>

    <p>It's the 21st century.  I can be both. :)</p>


    <h2>How do I know you're not going to steal all my writing and run off?</h2>

    <p>Because I think it's morally wrong for an organization to claim ownership of someone's work.  Yes, I'm ripping on Facebook and DayOne again, but it's justified.  You wrote the piece. You made the work. They're distributing it, and they need rights to do that, but the monetization and branding should rest in your hands.</p>

    <p>You should also trust Footprints to not run off with all your work because we've put a ton of effort into making it easy for you to get all your work out.  You can download a zip file at any time with all your writing and revisions.  If you become a Footprints supporter for 5 bucks a year (seriously.), we'll email you that file every month, so you've always got a current backup. No one should hold someone's work hostage, and we're not doing it with yours.</p>

    <p>Finally, on a personal note, I think you should trust Footprints with your writing because I trust it with all of mine - and these posts are as precious to me as anything in the world.</p>


    <h2>What do you mean "how many people have <i>actually</i> read my work? How do you know?</h2>

    <p>Because we're being a bit clever.  Footprints counts a "read" when a reader has spent enough time on a page to have actually read the entire piece (depends on length), and when they've scrolled down far enough that they could actually have <i>seen</i> the whole piece.  So, we don't know for sure - but we're pretty darn close.</p>

    <h2>Hey! I've got another question!</h2>
    <p>Drop me a note at steven at footprintsapp.com, or use that help link up top.  If it's a general question, I'll post the answer up here, and either way, you'll get an email reply.  Thanks for reading all this, and checking Footprints out!</p>

</div>
{% endblock %}