{% extends "base.html" %}{% load compress %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/fonts.css">
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/site.css">
{% endcompress %}
{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}main_site/js/site.js"></script>
{% endcompress %}
{% endblock %}

{% block content %}
<div class="home page_content">
    <h1>Footprints is a simple, beautiful publication platform.</h1>

    <div class="home_sections hero_section">
            <div class="hero_text"></div>

            Easy to write
            <h2>Simple.</h2>
            <p>Footprints was designed to help you <i>just keep writing</i>, and lets you publish your work without spending time and stress on it.</p>

            <h2>Safe</h2>
            <p>Footprints is free, and open source.  I was built on the shoulders of giants, so will remain that way, forever. You should always, always be able to get your content out, and this is the best way we know.</p>


            Easy to read
            <h2>Promotes your content.</h2>
            <p>Footprints can post your content to Facebook and Twitter in a way that benefits <i>your</i> traffic, not some giant corporation.</p>

            <h2>Works beautifully on mobile.</h2>
            <p>Footprints can post your content to Facebook and Twitter in a way that benefits <i>your</i> traffic, not some giant corporation.</p>

            <h2>Works with the things you already use.</h2>
            <p>Footprints can pull posts from DayOne, handle Mailchimp signup forms, and produces newsletter-ready RSS feeds.</p>




            


            - Easy reading on mobile


Easy to publish
            <p>Welcome to Footprints.  Publication, with the author in mind.</p>
            <p><a href="{% url "account_signup" %}" class="button btn btn-primary">Get Started</a></p>
    </div>
</div>
{% endblock %}