{% extends "base.html" %}{% load compress %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/fonts.css">
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/site.css">
{% endcompress %}
{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}main_site/js/site.js"></script>
{% endcompress %}
{% endblock %}

{% block content %}
<div class="home page_content">
    {% if is_author %}
    <h1>Welcome to your footprints.</h1>

    <h2>{{author.blog_name}} is all ready to go.</h2>
    {% else %}
    <h1>Footprints is a simple, beautiful publication platform.</h1>

    <div class="home_sections hero_section">
            <div class="hero_text">publish easily</div>

            
            <h2>Simple.</h2>
            <p>Footprints was designed to let you <i>just write</i>, and lets you publish your work without a bunch of time or stress.</p>

            <h2>Works with the things you already use.</h2>
            <p>Footprints can pull posts from DayOne, Dropbox, and email, simply.  It also has a beautiful editor, if you'd like to write here.
            {#  handle Mailchimp signup forms, and produces newsletter-ready RSS feeds. #}
            </p>
            
            <h2>Safe.</h2>
            <p>Footprints is free, and open source. It was built on the shoulders of giants, so will remain that way, forever. You should always, always be able to get your content out, and this is the best way we know.</p>



            <div class="hero_text">delight your readers</div>

            <h2>Meet readers where they are.</h2>
            <p>Whether your readers want to read you in their inbox, their news feeds, or their favorite RSS reader, Footprints makes it simple.</p>

            <h2>Works beautifully on mobile.</h2>
            <p>Most reading is now happening on phones and tablets.  Footprints was built <i>for</i> these devices, and still looks great on desktops.</p>
            
            <h2>Your content, your brand, everywhere.</h2>
            <p>Footprints can post your content to Facebook and Twitter in a way that benefits <i>your</i> traffic, not some giant corporation.</p>

            <h2>Social enthusiasm, not flame wars.</h2>
            <p>Footprints lets readers share what they love, and leaves the trolls and flame wars far away..</p>

            <div class="hero_text">get in first</div>

            <h2>Invite-only.</h2>
            <p>Footprints is currently in invite-only beta.  Want an invite? Put your email in below. We'll only use it to tell you about Footprints releases.  We hate spam, too.</p>

           
            <div id="mc_embed_signup" class="ph_form home_buttons">
                <form action="//inkandfeet.us9.list-manage.com/subscribe/post?u=dd952b060e328879b98c2b2c5&amp;id=e47fd728ed" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" >
                <div class="mc-field-group form_input">
                    <input type="text" name="EMAIL" class="" id="mce-EMAIL" placeholder="your.name@example.com"/>
                    <input type="submit" value="Keep me posted!" name="subscribe" id="mc-embedded-subscribe" class="button primaryAction btn-primary"/>
                </div>
                    
                <div class="mc-field-group">
                    <div id="mce-responses" class="clear form_errors">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_dd952b060e328879b98c2b2c5_e47fd728ed" tabindex="-1" value=""></div>
                </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            </form>
            </div>
            
    </div>
    {% endif %}
</div>
{% endblock %}