.profile_image {
    float: left;
    margin: 0 10px 10px 0;
}
.http {
    font-size: 24px;
    color: #454545;
    font-weight: 300;
    margin-right: 2px;
}

.ph_form .form_input.blog_header textarea, .ph_form .form_input.blog_footer textarea {
    width: 100%;
    font-size: 12px;
    font-family: courier, fixed;
}
.blog_header_preview {
    overflow: auto;
    height: auto;
}
iframe {
    position: absolute;
    left: 0;
    width: 100%;
    border: 1px solid #EEE;
    height: 160px;
}
.blog_footer_question {
    margin-top: 200px;
}
.submit_question {
    margin-top: 20px;
}