
.author .posts .draft {
    background-color: #c60210;
}
.author .posts .published {
    background-color: green;
}
.author .fantastics, .author .reads {
    float: right;
    color: #EEE;
    font-size: 12px;
    padding: 2px 4px;
    transition: color 0.3s ease;
}
.post {
    /*border: 1px solid #DDD;*/
    background-color: #FDFDFD;
    /*border-width: 0 0 1px 0;*/
    /*margin-left: 20px;*/
    margin: 0 0 0 0;
    height: 80px;
    /*padding: 4px 0;*/
}
.post:hover {
    background-color: #F7F7F7;
}
.post.published {
    background-color: #FBFBFB;
}
.post.published:hover {
    background-color: #EEE;
}
.post .time {
    color: #DDD;
}
.post .post_body {
    /*font-weight: 100;*/
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}
.post a.post_body {
    /*color: #AAA;*/
    color: #646464;
}
.published.post a.post_body {
}
.post a.post_body:hover, .post a.post_body:visited {
    color: #333;
    text-decoration: none;
}
.post:hover .fantastics, .post:hover .reads {
    color: #BBB;
}
.post .thumb_col {
    text-align: left;
    padding: 0;
}
.post.published .publish_col {
    min-height: 80px;
    border: 10px solid #4f66ff;
    border-right: 10px solid #4f66ff;
    border-left: 1px solid #EEE;
    border-top: 0;
    border-bottom: 0;

    color: #FFF;
}
.post .thumb_col {

}
.post .thumb_col img, .post .thumb_col .image_placeholder {
    float: left;
    margin-right: 10px;
    background-color: #FAFAFA;
    width: 80px;
    height: 80px;
}
.published.post .title {
}
.post .post_body .title {
    font-weight: bold;
    /*color: #000;*/
    padding: 4px 10px 0 0;
    height: 70px;
    overflow: hidden;
    /*line-height: 80px;*/
    vertical-align: middle;
    /*display: inline-block;*/
    line-height: 1em;
}
.post .post_body .title .body {
    color: #DDD;
    font-weight: 300;
    line-height: 1em;
}
.post .post_body .title span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;   
}


h2 {
    margin-top: 20px;
}
h3 {
    border: 1px solid #EEE;
    border-width: 0 0 1px 0;
}
h5 {
    background-color: #F9F9F9;
    border: 1px solid #EEE;
    border-width: 1px 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin: 0;
    margin: 10px 0 2px 0;
    color: #454545;
    padding: 4px;
    /*margin-left: 20px;*/
}
.love_col {

}
.love_col.published {
    /*background-color: #a30000;
    color: #FFF;*/
    color: #a30000;
    /*color: #FFF;*/
}

.read_col.published {
    color: #888;
}
.published .facebook_col {
    /*background-color: #CAD2EA;*/
}
.facebook_col.published {
    /*background-color: #4862A3;*/
    /*color: #FFF;*/
    /*background-color: #4862A3;*/
    color: #4862A3;
}
.published .twitter_col {
    /*background-color: #D7ECFF;*/
}
.twitter_col.published {
/*    background-color: #55ACEE;
    color: #FFF;*/
    color: #55ACEE;

}
.email_col.published {
    /*background-color: #999;
    color: #CCC;*/
    color: #454545;
    /*color: #CCC;*/
}
.stats_col {
    position: relative;
    min-height: 80px;
    text-align: center;
    padding: 0;
    text-decoration: none
}
a.stats_col:hover {
    text-decoration: none
}

.stats_col i.bg_icon {
    font-size: 20px;
    /*opacity: 0.2;*/
    text-align: center;
    /*color: #FFF;*/
    position: absolute;
    bottom: 4px;
    margin: 0 auto;
    width: 100%;
    left: 0;
}
.unpublished.stats_col i.bg_icon {
    color: #454545;
    opacity: 0.1;

}
.toggle_col.stats_col i.bg_icon {
    color: #AAA;
}
.toggle_col.stats_col.on i.bg_icon {
    color: #454545;
}
.toggle_prospect.stats_col i.bg_icon {    
    font-size: 32px;
    bottom: 20px;
}

.stats_col .number {
    font-size: 20px;
    margin-top: 22px;
    text-align: center;
    opacity: 0.9;
}

.work_group {
    margin-left: 20px;
}
.none_yet {
    color: #999;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin: 0;
}
.is_me {
    background-color: green;
}
a.button.new_draft_button {
    float: right;
    background-color: #F2F2F2;
    color: #999;
    border-color: #DDD;
}
a.button.new_draft_button:hover {
    background-color: #DDD;
    color: #888;
    border-color: #DDD;
}
.no_posts {
    margin: 40px auto;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}