body {
    background: #AAA;
    /*background: #545454;*/
    overflow-x: hidden;
}
#nav a {
    color: #888;
}
#nav a:hover {
    color: #CCC;
}
.button, .button:hover, a.button, a.button:hover, button, button:hover, button.button, button.button:hover, .primaryAction, .primaryAction:hover {
    color: #DDD;
    background-color: #B2B2B2;
    border: 1px solid #999;
}
.button:hover, a.button:hover, button.button:hover, button:hover {
    background-color: #999;
}
#main {
    padding: 0;
}
.author {
    display: block;
    margin: 60px 0 0 0;
    text-align: center;
    color: #BBB;
    font-weight: 300;
}
.author a {
    color: #AAA;
}
.print.author {
    display: none;
}
.post, .related_posts {
    display: block;
    position: relative;
    width: 64em;
    background: #FFF;
    
    margin: 80px auto 0 auto;
    /*top: 80px;*/

    /*border: 1px solid rgba(0,0,0,0);*/
    border-bottom-color: rgba(255,255,255,0.97);
    border-right-color: rgba(255,255,255,0.97);
    box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
}
.post_image.full_bleed {
    overflow: hidden;
    /*height: 600px;*/
    vertical-align: middle;
}
.post_image.full_bleed img {
    display: block;
    width: 100%;
    /*max-height: 800px;*/
    vertical-align: middle;
}
.the_start, .month_break {
    color: rgba(0,0,0,0.2);
    font-size: 32px;
    font-family: 'Cardo', serif;
    font-weight: 100;
    display: block;
    margin: 120px 0 200px 0;
    text-align: center;
    opacity: 0;
    transition: opacity: 2s;
}
.the_start.visible {
    opacity: 1;
}
.month_break {
    opacity: 1;
    margin: 120px 0;
}

.post .text_and_title {
    padding: 40px 80px 20px 80px;
}
.post .text_and_title img {
    max-width: 100%;
}
.post p {
    margin: 0;
}

#edit_pane_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;
    margin: 0 auto;
}
.nicEdit-panelContain {
    border: 0 !important;
    padding-left: 80px;
}
.post .title, .post .body, .nicEdit-main, .editable {
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
    outline: none;
    outline-style: none;
    outline-width: 0;
    line-height: 1.5em;
}
.post .title, .title .editable {
    line-height: 1.2em;
    padding-bottom: 8px;
}
.post .title { 
    /*reallly like*/
    /*font-family: 'EB Garamond', serif;*/
    
    /* maybe, depends on below */
    font-family: 'Cardo', serif;
    letter-spacing: -1px;
    

    margin: 20px 0;
    font-weight: 400;
}
.post .title a, .post .title a:hover, .post .title a:visited, .post .title a:active { 
    color: #333;
    text-decoration: none !important;
}
.post .body {
    /*all-rounder*/
    /*font-family: 'Lato', sans-serif;*/
    /*lighter, but good:;*/
    font-family: 'Raleway', sans-serif;
    
    font-weight: 400;
    font-size: 16px;
    /*line-height: 21px;*/
    line-height: 1.4em;
}
.post .draft_badge, .post.draft.editing .draft_badge {
    display: none;
}
.post.draft .draft_badge {
    z-index: 200;
    display: block;
    position: absolute;
    top: -1px;
    right: -2px;
    width: 200px;
    height: 200px;
    background: url("../../posts/img/draft-badge.png");
    background-repeat: no-repeat;
    background-position: top right;
}

.timeline {
    text-align: center;
    margin: 80px 0;
    color: #DDD;
    font-weight: 200;
}
.timeline a {
    color: #DDD;
    text-decoration: underline;
}
.kudos {
    margin-top: 60px;
    padding-left: 100px;
    text-align: center;
}
.kudos .fantastic_button {
    font-size: 2em;
    /*background-color: #FCFCFC;*/
    background-color: transparent;
    border-color: #FDFDFD; 
    border: 0;
    color: #CCC;
}
.kudos .fantastic_button:hover {
    /*background-color: #EEE;*/
    background-color: transparent;
    border-color: #DEDEDE; 
    border: 0;
    color: #a30000;

}

.kudos .fantastic_button.clicked {
    /*background-color: #DDD;*/
    background-color: transparent;
    color: #a30000;
    border-color: #AAA; 
    border: 0;
}
.kudos .fantastic_button .fantastic_text {
    font-size: 18px;
    line-height: 18px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 0 4px 10px;
    font-weight: 100;
}
.kudos .fantastic_button .clicked_star {
    display: none;
}
.kudos .fantastic_button.clicked .clicked_star {
    display: inline;
}
.kudos .fantastic_button.clicked .unclicked_star {
    display: none;
}

.edit_bar {
    /*position: absolute;*/
    width: 64em;
    margin: 0 auto;
    text-align: right;
    margin-top: 16px;
    height: 40px;
}
.edit_bar .edit_button {
    display: inline-block;
}
.edit_bar .currently_editing_button {
    display: none;
}
.edit_bar.editing .currently_editing_button {
    display: inline-block;
}
.edit_bar.editing .edit_button {
    display: none;
}
.edit_bar .revisions_button {
    float: left;
}

.author .posts .draft {
    background-color: red;
    display: inline-block;
    border-radius: 2px;
}
.post.revision {
    margin: 20px auto 0 auto;
}
.revision_badge {
    text-align: center;
    top: 0;
    padding: 5px 0;
    border: 2px solid #999;
    border-radius: 4px;
    width: 32%;
    margin: 20px 0 20px 34%;
    color: #CCC;
    background-color: #9F9F9F;
}
.post_form {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transition: left 0.25s linear;
    -moz-transition: left 0.25s linear;
    -ms-transition: left 0.25s linear;
    -o-transition: left 0.25s linear;
    transition: left 0.25s linear;
}
.post_meta {
    position: absolute;
    top: 160px;
    right: -600px;
    width: 600px;
    display: none;
}
.post_meta label {
    white-space: nowrap;
}
.post_meta th {
    vertical-align: top;
}
.options_toggle {
    display: none;
    position: absolute;
    top: 140px;
    right: 50px;
    height: 30px;
    padding: 0 20px;
}
.options_toggle a {
    display: block;
    font-size: 50px;
    line-height: 0;
    color: #999;
    text-decoration: none;   
}
.post_form.editing .options_toggle {
    display: block;
}
.post_form.editing .post_meta {
    display: block;
}

.post_form.show_options {
    left: -600px;
}
.revised_text {
    display: inline-block;
    margin-left: 20px;
}
.copyright {
    margin-top: 4px;
}
.num_reads {
    margin-left: 20px;
}
.num_agree {
    /*display: none;*/
    display: inline-block;
    opacity: 0;
    margin-left: 10px;
    color: #BBB;
    font-size: 18px;
    padding-bottom: 6px;
    vertical-align: middle;
    font-weight: 100;
    transition: opacity 1s;
}
.num_agree.visible {
    opacity: 1;
}
a.all_posts {
    position: absolute;
    left: 10px;
    top: -70px;
    color: #CCC;
    z-index: 0;
    cursor: pointer;
}
a.all_posts .posts_icon {
    font-size: 48px;
    line-height: 48px;
    color: #DDD;
    opacity: 0.2;
    transition: opacity 1s;
}
a.all_posts .caption {
    display: inline-block;
    color: #FFF;
    opacity: 0;
    transition: opacity 1s;
    font-size: 30px;
    line-height: 48px;
    vertical-align: top;
    padding-top: 2px;
    width: auto;
    text-align: left;
    font-weight: 100;
    margin: 0;
}
a.all_posts:hover .posts_icon {
    opacity: 0.8;
}
a.all_posts:hover .caption {
    opacity: 0.6;
}
a.all_posts:hover {
    text-decoration: none;
}
.related_posts {
    background-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    box-shadow: none;
    overflow: auto;
}
a.related_post {
    display: block;
    position: relative;
    /*width: 28%;*/
    margin: 0 5em 40px 0;
    /*float: left;*/
    width: 18em;
    min-height: 18em;
    height: 18em;


    background-color: #FFF;
    border-bottom-color: rgba(255,255,255,0.97);
    border-right-color: rgba(255,255,255,0.97);
    box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
    text-decoration: none;
}
a.related_post:hover .post_title {
    color: #333;
}
a.related_post.last {
    margin-right: 0;
}
a.related_post .post_title {
    position: absolute;
    font-family: 'Cardo', serif;
    letter-spacing: -1px;
    color: #454545;
    z-index: 100;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 16px;
    height: 225px;
}
a.related_post .post_title {
    font-size: 2.0em;
    line-height: 1.1em;
    text-overflow: ellipsis;
    text-align: justify;
}

a.related_post.has_image .post_title {
    font-size: 1.2em;
    line-height: 1.2em;
    height: 1.2em;
    text-overflow: ellipsis;
    text-align: left;
}
a.related_post img {
    /*position: absolute;*/
    width: 100%;
    height: auto;
    z-index: 1;
}
@page  
{ 
    size: auto;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 25mm 25mm 25mm 25mm;  
} 
@media print {
    .post {
        margin: 0;
        padding: 0 0 40px 0;
        width: 100%;
        page-break-inside: avoid;
    }
    .post .display.author {
        display: none;
    }
    .post .print.author {
        display: block;
        color: #EEE !important;
    }
    .post div {
        page-break-inside: avoid;
    }
    #nav {
        display: none;    
    }
    .edit_bar {
        display: none;
    }
    .options_toggle {
        display: none;
    }
    .post_meta {
        display: none;
    }
    .kudos {
        display: none;   
    }
    .read_form {
        display: none;
    }
    .timeline {
        display: none;
    }
    #footer {
        display: none;
    }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    body {
        /*background: #222;*/
    }
    .post {
        width: 762px;
    }
    .post .text_and_title {
        padding: 40px 16px 20px 26px;
    }
    .post.narrow .text_and_title {
        padding: 40px 40px 20px 60px;
    }
    .post.narrow {
        width: 720px;
    }
    .post .body {
        /*font-size: 14px;*/
    }
    .post_image.full_bleed {
        overflow: hidden;
        height: 400px;
    }
}
@media all and (max-width: 920px) {
    body {
        /*background: #222;*/
    }
    h1 {
        font-size: 30px;
    }
    .post {
        width: 98%;
        margin: 60px auto 0 auto;
    }
    .post .text_and_title {
        padding: 40px 16px 20px 26px;
    }
    .post.narrow .text_and_title {
        padding: 40px 40px 20px 60px;
    }
    .post.narrow {
        width: 100%;
    }
    .post .body {
        /*font-size: 14px;*/
    }
    .post_image.full_bleed {
        overflow: auto;
        height: auto;
    }
    .kudos {
        padding: 0;
        margin: 0 auto;
    }
    .num_agree {
        display: block;
    }
}
.post .text_and_title input .post .text_and_title textarea {
    -webkit-hyphens: manual;  
    -moz-hyphens: manual;  
    hyphens: manual;
}
@media all and (max-width: 600px) {
    body {
        background: #FFF;
    }
    .post {
        width: 100%;
        box-shadow: none;
        border: 1px solid #DDD;
        border-width: 0 0 1px 0;
        padding-bottom: 16px;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .post.type_4 {
        padding-top: 8px;
    }
    .post .text_and_title, .post.narrow .text_and_title {
        /*padding: 8px 16px 0px 16px;*/
        width: 90%;
        padding: 8px 0 0 0;
        margin: 0 auto 0 4%;
        text-align: justify;
        -webkit-hyphens: auto;  
        -moz-hyphens: auto;  
        hyphens: auto;
    }
    .post .text_and_title p, .post.narrow .text_and_title p, .post .text_and_title .body, .post.narrow .text_and_title .body {
        /*font-size: 20px;*/
        line-height: 1.45em;
        font-weight: 400;
    }
    .post .text_and_title h1.title, .post.narrow .text_and_title h1.title, .post .text_and_title h1.title .editable {
        text-align: left;
        line-height: 1.1em;
        -webkit-hyphens: manual;  
        -moz-hyphens: manual;  
        hyphens: manual;
    }
    .post .text_and_title input .post .text_and_title textarea {
        -webkit-hyphens: manual;  
        -moz-hyphens: manual;  
        hyphens: manual;
    }
    .post .text_and_title blockquote, .post.narrow .text_and_title blockquote {
        text-align: left;
        margin: 0 0 10px 0;
    }

}