
body {
    background: #AAA;
    /*background: #545454;*/
    
    background: #FFF;
    overflow-x: hidden;
}
#nav a {
    color: #888;
}
#nav a:hover {
    color: #CCC;
}
.button, .button:hover, a.button, a.button:hover, button, button:hover, button.button, button.button:hover, .primaryAction, .primaryAction:hover {
    color: #DDD;
    background-color: #B2B2B2;
    border: 1px solid #999;
}
.button:hover, a.button:hover, button.button:hover, button:hover {
    background-color: #999;
}
#main {
    padding: 0;
}
.author {
    display: block;
    margin: 60px 0 0 0;
    text-align: center;
    color: #BBB;
    font-weight: 300;
}
.author a {
    color: #AAA;
}
.print.author {
    display: none;
}
.post, .related_posts {
    display: block;
    position: relative;
    width: 100%;
    

    /*border: 1px solid rgba(0,0,0,0);*/
    /*border-bottom-color: rgba(255,255,255,0.97);*/
    /*border-right-color: rgba(255,255,255,0.97);*/
    /*box-shadow: 1px 2px 2px rgba(0,0,0,0.3);*/
}
.post .body, .related_posts .body, .after_post_content .post, .after_post_content .related_posts {
    display: block;
    position: relative;
    width: 740px;
    background: transparent;
    
    margin: 80px auto 0 auto;
}
.after_post_content .post {
    margin-top: 0;
}
.post .title, .related_posts .title {
    width: 740px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}
.post_image.full_bleed {
    overflow: hidden;
    /*height: 600px;*/
    vertical-align: middle;
}
.post_image.full_bleed img {
    display: block;
    width: 100%;
    /*position: absolute;*/
    /*top: 0;*/
    /*max-height: 740px;*/
    vertical-align: middle;
}
.the_start, .month_break {
    color: rgba(0,0,0,0.2);
    font-size: 32px;
    font-family: 'Cardo', serif;
    font-weight: 100;
    display: block;
    margin: 120px 0 200px 0;
    text-align: center;
    opacity: 0;
    transition: opacity: 2s;
}
.the_start.visible {
    opacity: 1;
}
.month_break {
    opacity: 1;
    margin: 60px 0 40px 0;
}

.post .text_and_title {
    margin-top: 0;
    padding: 80px 80px 20px 80px;
    background: #FFF;
    z-index: 100;
}
.post.single_post .text_and_title {
    margin-top: 740px;
}
.post .text_and_title img {
    max-width: 100%;
}
.post p {
    margin: 0;
}
.post ol li p:first-child {
    margin-top: -22px !important;
}
.post ol li p:last-child {
    margin-bottom: -22px !important;
}

#edit_pane_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;
    margin: 0 auto;
}
.nicEdit-panelContain {
    border: 0 !important;
    padding-left: 80px;
}
.post .title, .post .body, .nicEdit-main, .editable {
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
    outline: none;
    outline-style: none;
    outline-width: 0;
    line-height: 1.5em;
}
.post .title, .title .editable {
    line-height: 1.2em;
    padding-bottom: 8px;
}
.post h1.title { 
    /*reallly like*/
    /*font-family: 'EB Garamond', serif;*/
    
    /* maybe, depends on below */
    font-family: 'Cardo', serif;
    letter-spacing: -1px;
    

    margin: 20px auto 0 auto;
    font-weight: 400;
    font-size: 50px;
}
.post .title a, .post .title a:hover, .post .title a:visited, .post .title a:active { 
    color: #333;
    text-decoration: none !important;
    text-align: center;
}
.post .body, .post .body p {
    /*all-rounder*/
    /*font-family: 'Lato', sans-serif;*/
    /*lighter, but good:;*/
    font-family: 'Raleway', sans-serif;
    
    font-weight: 400;
    font-size: 20px;
    /*line-height: 21px;*/
    line-height: 1.5em;
}
.post .body p { 
    margin-bottom: 1em;
}
.post .draft_badge, .post.draft.editing .draft_badge {
    display: none;
}
.post.draft .draft_badge {
    z-index: 200;
    display: block;
    position: absolute;
    top: -1px;
    right: -2px;
    width: 200px;
    height: 200px;
    background: url("../../posts/img/draft-badge.png");
    background-repeat: no-repeat;
    background-position: top right;
}
.byline {
    font-family: 'Cardo', serif;
    text-align: center;
    font-size: 18px;
    color: #AAA;
}

.timeline {
    text-align: center;
    margin: 80px 0;
    color: #DDD;
    font-weight: 200;
}
.timeline a {
    color: #DDD;
    text-decoration: underline;
}
.kudos {
    font-family: 'Raleway', sans-serif;
    margin-top: 40px;
    padding-left: 100px;
    text-align: center;
}
.kudos .fantastic_button {
    display: block;
    position: relative;
    font-size: 2em;
    /*background-color: #FCFCFC;*/
    background-color: transparent;
    border: 1px solid #DDD;
    width: 200px;
    margin: 0 auto;
    color: #999;
    cursor: pointer !important;
}
.kudos .fantastic_button:hover {
    /*background-color: #EEE;*/
    background-color: transparent;
    border-color: #DEDEDE; 
    border: 0;
    border: 1px solid #EEE;
    background-color: #a30000;
    color: #FFF;
    cursor: pointer;
}

.kudos .fantastic_button.clicked {
    /*background-color: #DDD;*/
    background-color: transparent;
    color: #a30000;
    border-color: #AAA; 
    border: 0;
    background-color: #a30000;
    color: #FFF;
}
.kudos .fantastic_button .fantastic_text {
    font-size: 18px;
    line-height: 18px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 0 4px 10px;
    font-weight: 100;
}
.kudos .fantastic_button .clicked_star {
    display: none;
}
.kudos .fantastic_button.clicked .clicked_star {
    display: inline;
}
.kudos .fantastic_button.clicked .unclicked_star {
    display: none;
}
.share {
    display: block;
    max-width: 740px;
    margin: 100px auto 20px auto;
}
.share .share_link {
    width: 32%;
    margin: 0 0 0 1%;
    border: 0;
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
}
.share .share_link i {
    margin-right: 6px;
}
.share .share_link.facebook {
    width: 34%;
    margin-left: 0;
    background-color: #365882;
    color: #FFF;
}

.share .share_link.heart {
    background-color: #a30000;
    color: #FFF;
}
.share .share_link.twitter {
    background-color: #0087C6;
    color: #FFF;
}
.share .share_link.google {
    background-color: #D95433;
    color: #FFF;
}
.share .share_link.facebook:hover {
    background-color: #4a78b1;
    color: #FFF;
}
.share .share_link.twitter:hover {
    background-color: #2BB4E0;
    color: #FFF;
}
.share .share_link.google:hover {
    background-color: #F27B58;
    color: #FFF;
}
.support {
    display: block;
    width: auto;
    /*margin: 12px auto 8px auto;*/
    
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background: #EEE;
    padding: 14px 0;
    font-size: 20px;
    /*display: none;*/
}
.after_post_content {
    /*border: 1px solid #DDD;*/
    /*border-width: 1px 0 0 0;*/
    background: #FFF;
    padding: 0;
    padding: 40px 0;
}
.subscribe_btn_container {
    margin: 16px 0 0 0;
}
a.subscribe_btn, a.subscribe_btn:hover {
    font-family: 'Raleway', sans-serif;
    padding: 10px 20px;
    font-size: 16px;
    display: inline-block;
    border-radius: 4px;
    background-color: #454545;
    color: #FFF;
    border: 0;
    font-weight: 300;
    /*text-transform: uppercase;*/
}
a.subscribe_btn:hover {
    background-color: #830000;
    background-color: #222;
}
a.subscribe_btn:hover i {
    /*color: #FF0000;*/
}
a.subscribe_btn i {
    margin-right: 4px;
}
a.subscribe_btn i.envelope {
    display: inline-block;
}
a.subscribe_btn:hover i.envelope {
    display: none;
}

a.subscribe_btn i.heart {
    /*display: none;*/
}
a.subscribe_btn:hover i.heart {
    display: inline-block;
}
.edit_bar {
    /*position: absolute;*/
    width: 64em;
    margin: 0 auto;
    text-align: right;
    margin-top: 16px;
    height: 40px;
}
.edit_bar .edit_button {
    display: inline-block;
}
.edit_bar .currently_editing_button {
    display: none;
}
.edit_bar.editing .currently_editing_button {
    display: inline-block;
}
.edit_bar.editing .edit_button {
    display: none;
}
.edit_bar .revisions_button {
    float: left;
}

.author .posts .draft {
    background-color: red;
    display: inline-block;
    border-radius: 2px;
}
.post.revision {
    margin: 20px auto 0 auto;
}
.revision_badge {
    text-align: center;
    top: 0;
    padding: 5px 0;
    border: 2px solid #999;
    border-radius: 4px;
    width: 32%;
    margin: 20px 0 20px 34%;
    color: #CCC;
    background-color: #9F9F9F;
}
.post_form {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transition: left 0.25s linear;
    -moz-transition: left 0.25s linear;
    -ms-transition: left 0.25s linear;
    -o-transition: left 0.25s linear;
    transition: left 0.25s linear;
}
.post_meta {
    position: absolute;
    top: 160px;
    right: -600px;
    width: 600px;
    display: none;
}
.post_meta label {
    white-space: nowrap;
}
.post_meta th {
    vertical-align: top;
}
.options_toggle {
    display: none;
    position: absolute;
    top: 140px;
    right: 50px;
    height: 30px;
    padding: 0 20px;
}
.options_toggle a {
    display: block;
    font-size: 50px;
    line-height: 0;
    color: #999;
    text-decoration: none;   
}
.post_form.editing .options_toggle {
    display: block;
}
.post_form.editing .post_meta {
    display: block;
}

.post_form.show_options {
    left: -600px;
}
.revised_text {
    display: inline-block;
    margin-left: 20px;
}
.copyright {
    margin-top: 4px;
}
.num_reads {
    margin-left: 20px;
}
.num_agree {
    /*display: none;*/
    display: inline-block;
    opacity: 0;
    margin-left: 10px;
    color: #BBB;
    font-size: 18px;
    padding-bottom: 6px;
    vertical-align: middle;
    font-weight: 100;
    transition: opacity 1s;
}
.num_agree.visible {
    opacity: 1;
}
a.all_posts {
    position: absolute;
    left: 10px;
    top: -70px;
    color: #CCC;
    z-index: 0;
    cursor: pointer;
}
a.all_posts .posts_icon {
    font-size: 48px;
    line-height: 48px;
    color: #DDD;
    opacity: 0.2;
    transition: opacity 1s;
}
a.all_posts .caption {
    display: inline-block;
    color: #FFF;
    opacity: 0;
    transition: opacity 1s;
    font-size: 30px;
    line-height: 48px;
    vertical-align: top;
    padding-top: 2px;
    width: auto;
    text-align: left;
    font-weight: 100;
    margin: 0;
}
a.all_posts:hover .posts_icon {
    opacity: 0.8;
}
a.all_posts:hover .caption {
    opacity: 0.6;
}
a.all_posts:hover {
    text-decoration: none;
}
.post_content_area {
    display: block;
    padding: 0;
    background: transparent;
}
.related_post_title {
    margin-top: 40px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}
.related_posts {
    background-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    box-shadow: none;
    overflow: visible;   
}
.related_posts .post {
    margin: 20px auto 20px auto;
    border: 1px solid #EEE;
    /*box-shadow: 1px 2px 2px rgba(0,0,0,0.05);*/
    transition: box-shadow 0.8s;
}
.related_posts .post:hover {
    box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
}
.related_posts .post:active {
    transition: box-shadow 0.1s;
    box-shadow: none;   
    border-color: #888;
}
a.related_post {
    display: block;
    overflow: auto;
    height: 192px;
    text-decoration: none;
    color: #888;
}
a.related_post:hover {
    text-decoration: none;
    color: #222;
}
a.related_post .post_title {
    color: #555;
    transition: color 0.8s;
    font-family: 'Cardo', serif;
    letter-spacing: -1px;
    font-weight: 400;
    font-size: 24px;
    overflow: ellipsis;
    margin-bottom: 0.5em;
    line-height: 1em;
}
a.related_post .post_description {
    color: #888;
    transition: color 0.8s;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.1em;
}
a.related_post:hover .post_title {
    color: #333;
}
a.related_post:hover .post_description {
    color: #646464;
}
a.related_post .thumb {
    float: left;
    display: inline-block;
    max-height: 192px;
    margin-right: 20px;
}
a.related_post .post_text {
    padding: 20px;
    display: table-cell;
    vertical-align: middle;
    height: 152px;
}
.parallax_image {
    pointer-events: none;
}
.parallax_image img {
    position: fixed;
    /*top: 64px;*/
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    pointer-events: none;
}
.regular_image {
    width: 100;
}

@page  
{ 
    size: auto;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 25mm 25mm 25mm 25mm;  
} 
@media print {
    .post {
        margin: 0;
        padding: 0 0 40px 0;
        width: 100%;
        page-break-inside: avoid;
    }
    .post .display.author {
        display: none;
    }
    .post .print.author {
        display: block;
        color: #EEE !important;
    }
    .post div {
        page-break-inside: avoid;
    }
    #nav {
        display: none;    
    }
    .edit_bar {
        display: none;
    }
    .options_toggle {
        display: none;
    }
    .post_meta {
        display: none;
    }
    .kudos {
        display: none;   
    }
    .read_form {
        display: none;
    }
    .timeline {
        display: none;
    }
    #footer {
        display: none;
    }
}
.signup_blurb.post {
    overflow: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    /*padding: 20px;*/
    padding: 0px;
    border: 1px solid #EEE;
    background-color: #FDFDFD;
    /*border-width: 1px 0;*/
}
.signup_blurb .face {
    float: left;
    overflow: auto;
    margin-right: 30px;
}
.signup_blurb .face img {
    height: 320px;
    /*border: 1px solid #EEE;*/
}
.signup_blurb .spiel {
    padding: 20px 20px 20px 0;
    font-size: 20px;
    line-height: 1.2em;
}
.post .text_and_title input .post .text_and_title textarea {
    -webkit-hyphens: manual;  
    -moz-hyphens: manual;  
    hyphens: manual;
}


@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    body {
        /*background: #222;*/
    }
    .post {
        width: 762px;
    }
    .post .text_and_title {
        padding: 40px 16px 20px 26px;
    }
    .post.single_post .text_and_title {
       margin-top: 20px;
    }
    .post.narrow .text_and_title {
        padding: 40px 40px 20px 60px;
    }
    .post.narrow {
        width: 720px;
    }
    .post .body {
        /*font-size: 14px;*/
    }
    .post_image.full_bleed {
        overflow: hidden;
        height: 400px;
    }
}
@media all and (device-width: 1024px) and (device-height: 672px) and (orientation:landscape) {
    .post .text_and_title {
        padding-top: 20px;
    }
    .post_content_area {
        /*padding-top: 20px;*/
    }
}
@media all and (max-width: 920px) {
    body {
        /*background: #222;*/
    }
    h1 {
        font-size: 30px;
    }
    .post .body, .related_posts .body, .after_post_content, .post .title, .related_posts .title {
        width: 100%;
    }
    .after_post_content {
        margin: 0;
    }
    .post .body {
        margin-top: 50px;
    }
    .post {
        margin: 60px auto 0 auto;
    }
    .post .text_and_title {
        padding: 40px 16px 20px 26px;
    }
    .post.narrow .text_and_title {
        padding: 40px 40px 20px 60px;
    }
    .post.narrow {
        width: 100%;
    }
    .post .body {
        /*font-size: 14px;*/
    }
    .share {
        padding-top: 40px;
    }
    .post_image.full_bleed {
        overflow: auto;
        height: auto;
    }
    .kudos {
        padding: 0;
        margin: 20px auto 0 auto;
    }
    .num_agree {
        display: none;
    }
    .num_agree.visible {
        display: block;
    }
    .post_content_area {
        background: #FFF;
        padding: 0;
        margin-bottom: 0;
    }
    .post, .related_posts {
        width: 100%;
    }
    .related_posts {
        margin-top: 40px;
    }
    .signup_blurb {
        margin-top: 20px;
    }
    .signup_blurb .spiel {
        padding: 30px;
        font-size: 18px;
        line-height: 1.2em;
        font-weight: 400;
    }
    .signup_blurb .face img {
        /*width: 160px;*/
    }

}

@media all and (max-width: 600px) {
    body {
        background: #FFF;
    }
    .post {
        width: 100%;
        max-width: 100%;
        box-shadow: none;
        border: 1px solid #DDD;
        border-width: 0 0 1px 0;
        padding-bottom: 32px;
        /*margin-bottom: 8px;*/
        margin-top: 10px;
    }
    .byline {
        font-size: 14px;   
    }
    .post.type_4 {
        padding-top: 8px;
    }
    .post .text_and_title, .post.narrow .text_and_title {
        /*padding: 8px 16px 0px 16px;*/
        width: 90%;
        padding: 8px 0 0 0;
        margin: 0 auto 0 4%;
        text-align: justify;
        -webkit-hyphens: auto;  
        -moz-hyphens: auto;  
        hyphens: auto;
    }
    .post .text_and_title p, .post.narrow .text_and_title p, .post .text_and_title .body, .post.narrow .text_and_title .body {
        font-size: 18px;
        line-height: 1.45em;
        font-weight: 400;
    }
    .post .text_and_title p, .post.narrow .text_and_title p {
        margin-bottom: 0.5em;
    }
    .post .text_and_title h1.title, .post.narrow .text_and_title h1.title, .post .text_and_title h1.title .editable {
        /*text-align: left;*/
        font-size: 40px;
        line-height: 1.1em;
        -webkit-hyphens: manual;  
        -moz-hyphens: manual;  
        hyphens: manual;
    }
    .post .text_and_title input .post .text_and_title textarea {
        -webkit-hyphens: manual;  
        -moz-hyphens: manual;  
        hyphens: manual;
    }
    .post .text_and_title blockquote, .post.narrow .text_and_title blockquote {
        text-align: left;
        margin: 0 0 10px 0;
    }
    .post_content_area {
        background: #FFF;
        padding-bottom: 20px;
    }
    .post, .related_posts {
        width: 100%;
    }
    .post .title, .related_posts .title {
        width: 100%;
    }
    .share {
        width: 100%;
        margin: 0;
        padding: 30px 0 0 0;
    }
    .share .share_link {
        /*margin: 0;*/
        white-space: nowrap;
        font-size: 0.9em;
    }
    .share .share_link.twitter {
        /*width: 34%;*/
    }
    .share .share_link.google {
        /*width: 32%;*/
    }
    .after_post_content {
        background: #FFF;
    }
    .related_posts {
        margin-top: 40px;
        width: 90%;
        margin: 0 4% 0 auto;
    }
    .signup_blurb.post {
        margin: 20px 0 0 0;
        padding: 0;
    }
    .signup_blurb .spiel {
        padding: 20px;
        font-size: 20px;
        line-height: 1.2em;
        font-weight: 400;
    }
    .signup_blurb .face {
        display: block;
        width: 100%;
        margin: 0;
        position: relative;
    }
    .signup_blurb .face img {
        width: 100%;
        margin: 0 0 20px 0;
        height: auto;
        display: block;

    }
    a.related_post {
        height: 144px;
    }
    a.related_post .thumb {
        float: left;
        display: inline-block;
        max-height: 144px;
        margin-right: 20px;
    }
    .related_posts .post {
        padding: 0;
    }
    a.related_post .post_text {
        padding: 10px;
        display: table-cell;
        vertical-align: middle;
        height: 104px;
    }
    a.related_post .post_title, a.related_post .post_title {
        font-size: 20px;
    }
    a.related_post .post_description {
        font-size: 14px;
    }
}

@media all and (device-width: 320px) and (device-height: 460px) and (orientation:portrait) {

}